@charset "UTF-8";
/* Não obrigatório*/

body {
    background-color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: darkblue;
}

h2 {
    color: blue;
}

p {
    text-align: justify;
}